<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% if current_user %>
          <%= t('static.welcome') %> <%= current_user.email %>
      <% end %>
    </div>
    <div class="col-sm-6 text-right">
      <%= link_to 'sk', url_for(lang: 'sk') %> | <%= link_to 'en', url_for(lang: 'en') %>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body menu-panel">
        <div class="col-sm-9">
          <%= link_to t('static.home'), :static_pages_home, class: 'btn btn-default' %>
          <%= link_to t('static.about'), :static_pages_about, class: 'btn btn-default' %>
          <%= link_to t('static.customer_services'), :static_pages_customer_services, class: 'btn btn-default' %>
          <%= link_to t('static.services_for_applicants'), :static_pages_services_for_applicants, class: 'btn btn-default' %>
          <%= link_to t('static.reference'), :static_pages_reference, class: 'btn btn-default' %>
          <%= link_to t('static.contact'), :static_pages_contact, class: 'btn btn-default' %>
          <% if current_user %>
              <%= link_to t('static.users'), :users, class: 'btn btn-default' %>
              <%= link_to t('static.offers'), :offers, class: 'btn btn-default' %>
          <% end %>
        </div>
        <div class="col-sm-3 text-right">
          <% if current_user %>
              <%= link_to t('user.edit_profile'), edit_user_path(current_user.id), class: 'btn btn-default' %>
              <%= link_to t('logout'), :logout, method: :post, data: {confirm: t('are_you_sure')}, class: 'btn btn-default' %>
          <% else %>
              <%= link_to t('login'), :login, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div><%= yield %></div>
  <br>
  <div class="row">
    <div class="col-sm-*">
      <% if flash[:notice] %>
          <div id="notice" class="alert alert-success">
            <button class="close" type="button" data-dismiss="alert">×</button>
            <%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
          <div class="alert alert-danger">
            <button class="close" type="button" data-dismiss="alert">×</button>
            <%= flash[:alert] %></div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "body_end" %>
</body>
</html>
