<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if current_user %>
      <div class="row">
        <div class="col-sm-12 text-right">welcome <%= current_user.email %></div>
      </div>
  <% end %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body menu-panel">
        <div class="col-sm-9">
          <%= link_to 'Home', :static_pages_home, class: 'btn btn-default' %>
          <%= link_to 'Customer services', :static_pages_customer_services, class: 'btn btn-default' %>
          <%= link_to 'Services for applicants', :static_pages_services_for_applicants, class: 'btn btn-default' %>
          <%= link_to 'Reference', :static_pages_reference, class: 'btn btn-default' %>
          <%= link_to 'Contact', :static_pages_contact, class: 'btn btn-default' %>
          <% if current_user %>
              <%= link_to 'Users', :users, class: 'btn btn-default' %>
              <%= link_to 'Offers', :offers, class: 'btn btn-default' %>
          <% end %>
        </div>
        <div class="col-sm-3 text-right">
          <% if current_user %>
              <%= link_to 'Edit Profile', edit_user_path(current_user.id), class: 'btn btn-default' %>
              <%= link_to 'Logout', :logout, method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          <% else %>
              <%= link_to 'Login', :login, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div><%= yield %></div>
  <br>
  <div class="row">
    <div class="col-sm-*">
      <% if flash[:notice] %>
          <div id="notice" class="alert alert-success"><%= flash[:notice] %></div>
      <% end  %>
      <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
    </div>
  </div>
</div>

</body>
</html>
